/*-- ELEMENTS --*/

body {
    background-color: black;
    color:antiquewhite;
}

h2 {
    color: #ebc0e9;
    font-size: xx-large;
    text-align: center;
}

h3 {
    color: #ebc0e9;
    font-size: large;
}

h4 {
    color: #917a8f;
    font-size: medium;
    text-align: center;
}

p {
    color: antiquewhite
}


/*-- CLASSES  --*/

.album-cover {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-link {
    text-decoration: none;
    color: #ebc0e9;
}  

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
    background-color: #917a8f;
    color:black;
    border-radius: 15px;
}

.card-title {
    text-transform: uppercase;
    color: #ebc0e9
}

.card-subtitle {
    color:black;
    font-style: italic;
}

.card-link {
    color: darkmagenta;
    font-style: italic;
    text-decoration: none;
}

.contact-form {
    color:antiquewhite;
    margin: auto;
    display: flex;
    align-self: center;
}

.custom-box-shadow {
    margin: auto;
    background-color: black;
    color:antiquewhite
}

.form-group {
    max-width: 70%;
    margin:auto;
}

.important {
    color:antiquewhite;
    text-align: center;
}

.list-group {
    display: block;
    align-self: center;
}

.list-group-item {
    display: block;
    align-self: center;
    background-color: #917a8f;
    color:antiquewhite
}

.metamorphous-regular {
    font-family: "Metamorphous", serif;
    font-weight: 100;
    font-style: normal;
    font-size: x-large;
    color: #ebc0e9;
    text-align: center;
}

.music-link {
    text-decoration: none;
    color:antiquewhite;
    align-self: center;
}

.pg-section {
    max-width: 90%;
    align-self: center;
}

.table {
    max-width: 90%;
    border-radius: 30px;
    margin:auto;
}